fieldset{
    margin: 2cm 0;
    padding: 1cm 2cm;
    border: solid1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}

legend{
    font-size: 20px;
    padding: 0 .25cm;
    color: #999;
}

body{
    background-color: lavenderblush;
}

header{
   background-color: chocolate;
   
    text-align: center;
}
