table{
    border-collapse: collapse;
    width: 55%;
    margin: 0, auto;
}
th, td{
    border: 1px, solid black;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}
h2{
    text-align: center;
}